{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ encore_entry_link_tags('home') }}
{% endblock %}
{% block body %}
    <main>
        <div class="container">
            {% for produit in produits %}
                <div class="row">
                        <table class="jumbotron">
                            <thead>
                            <tr>
                                <th></th>
                                <th>
                                    <h1>{{ produit.marque }}</h1>
                                </th>
                                <th></th>
                            </tr>
                            </thead>
                            <tboby>
                                <tr>
                                    <th>
                                        <img src="{{ produit.photos }}" alt="">
                                    </th>
                                    <th>
                                       <h3>description:</h3>  <br>
                                        {{ produit.description }}
                                    </th>
                                </tr>
                            </tboby>
                            <tfoot>
                            <tr>
                                <th>
                                </th>
                                <th>
                                    prix: {{ produit.price }} €
                                </th>

                            </tr>
                            </tfoot>

                        </table>
                </div>


            {% endfor %}
        </div>
    </main>


{% endblock %}