{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('home') }}
    {{ encore_entry_link_tags('cardProduct') }}
{% endblock %}

{% block title %}Produit{% endblock %}

{% block body %}
<main>
    <div class="container_body">
        <div class="content">
            <div class="title_card">
                <h2 class="text-center">Produit</h2>
            </div>
            {% include 'cardProduct.html.twig' %}
            <a href="{{ path('produit_index') }}">Retour à la liste</a>

            {% if app.user and app.user.roles[0] == 'ROLE_ADMIN' %}
                <a href="{{ path('produit_edit', {'id': produit.id}) }}">edit</a>
                {{ include('produit/_delete_form.html.twig') }}
            {% endif %}
        </div>
    </div>
</main>

{% endblock %}
